@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    margin:5;
    padding:5;
    border:5;
}



body{
    font-family: Lato;
    color: #FFFFFF;
    background : #222B78;
}

h2{
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFFFFF;
    margin-left: 45%;
}

#logo{
    text-align: center;
    font-size: 280%;
    margin-left:30%;
    margin-right: 30%;
    margin-top: -10%;
}

#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    float: right;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #FFFFFF;
}

.active{
    border-bottom: 1px solid #FFFFFF;
}

#hero-image{
    height:500px;
    width: 100%;
    margin-top: 10%;
    background: url("/assets/images/new_colourfull_kettlebells.jpg") no-repeat top center;
    object-fit: cover;
}

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #FFFFFF;
}

.ourteam whoweare-bg {
    background-image: url("/assets/images/three-women-laughing-gym.jpg")
}
#times{
    background-image: url('/assets/images/women-stretching-class.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 19%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 2px;
}

#times h2 {
    color: #fafafa;
}