@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*   {
    margin: 5;
    padding: 5;
    border: 5;
    box-sizing: border-box;
    }

body {
    font-family: Lato;
    color: #FFFFFF;
    background : #2e377f;
}

h2  {
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFFFFF;
    margin-left: -1%;
    display: inline;
 
}
 #header {
    margin: 0;
    border-bottom: 1px solid #28306C;
    color: #ffffff;
}

/*-- Logo --*/

#logo {
    color: #ffffff;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 50px;
    margin-left: 0px;
    text-align: left;
    letter-spacing: 2px;
    padding: 0;
    font-weight: 600;
}

/*-- Navigation Bar Style --*/

.navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
    color: #ffffff;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    list-style: inside;
    background-color: #4FC9D9;
    background-clip: padding-box;
    border: none;
}

.dropdown-menu a :hover {
   border-bottom: 1px solid #ffffff;	
}

.nav {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    }

.nav-link {
    padding-right: 50px;
    color: #ffffff;
}

.active {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px;
}

#hero-image{	
    height:600px;	
    width: 100%;	
    background: url(/assets/images/new_colourfull_kettlebells.jpg) no-repeat center center;
    background-size: contain;	
    animation-name: hero-zoom;	
    animation-duration: 5s;	
    animation-fill-mode: forwards;
    margin-top: 5%;	
}

#hero-outer{	
    height:600px;	
    width: 100%;	
    overflow: hidden;	
    position: relative;	
}	
.responsive{
    width: 100%;
  height: auto;
}

@keyframes hero-zoom {	
    from{	
        transform: scale(1);	
    }	
    to{	
        transform: scale(1.1);	
    }	
    }

.whoweare-header{
    text-transform: uppercase;
   font-size: 40px;
   font-weight: 800;
   letter-spacing: 2px;
   text-align: right;
   padding-top: 5%;
   display:inline-block;}
 
.whoweare-paragraph{
    font-weight: 500;
   font-size: 16px;
   margin-bottom: 40px;
   text-align: right;
   display:inline-block;
}
 
.whoweare-bg{
    background-size: cover;
   background-position: center center;
   min-height: 450px;
   margin:0;}
 
.col-whoweare{
    position: relative;
   min-height: 200px;}
 
.whoweare-text{
    position: absolute;
   background-color: #FFF;
   padding: 2.5rem;
   border: 0px solid rgba(194, 194, 194);
   box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
   width: 80%;
   z-index: 1;
   min-height: 200px;
   max-height: 400px;
    color:#28306C}
 
.whoweare-text h3{
    font-weight: 700;
   font-size: 2.5rem;
   letter-spacing: 1px;}

    /* S2 - Our team*/
.ourteam-text-left .whoweare-text
   {right: -10%;}
.ourteam-text-left .whoweare-bg
   {margin-left: -10%;}
 
#ourteam
   {margin-bottom: 72px;}
#ourteam .whoweare-bg
   {background: url('/assets/images/our-team.png')no-repeat;}
     
/* S2 - Our community*/

.ourcommunity-text-right .whoweare-text
   {left: -30%;}
.ourcommunity-text-right .whoweare-bg
   {margin-left: -10%;}
 
#ourcommunity
   {margin-bottom: 72px;}
#ourcommunity .whoweare-bg
   {background: url('/assets/images/our-community.png')no-repeat; 
position: relative;}

    /* S2 - Our mission*/
.ourmission-text-left .whoweare-text
   {right: -10%;}
.ourmission-text-left .whoweare-bg
   {margin-left: -10%;}
 
#ourmission
   {margin-bottom: 72px;}
#ourmission .whoweare-bg
   {background: url('/assets/images/our-mission.png')no-repeat;}

/* SECTION THREE CLASS TIMES */

#thisweek{
  margin-top: 50px !important;
  margin-left: 50px;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.gallery-headers{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.gallery{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

/* form */

.form-section {
    clear: both;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-left: 5%;
    line-height: 30px;
    word-spacing: 5px;
}

/*Koffeehouse Page*/

#koffeehouse-page{
    margin-left: 5%;
}

#koffeehouse-heading{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.menu-responsive{
  height: auto;
  width: 50%;
}

#koffeehouse-download{
    text-align: center;
    margin-bottom: 10%;
}
/*MEMBERSHIP PAGE */
    .column-membership {
    float: left;
    width: 28%;
    background-color: #FFF;
    padding: 2.5rem;
    border: 0px solid rgba(194, 194, 194);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
    min-height: 200px;
    max-height: 400px;
    color:#28306C;
    margin: 2%}

/* Clear floats after the columns */
.row-membership:after {
  content: "";
  display: table;
  clear: both;
  padding: 5%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (max-width: 600px) {
  .column-membership {
    width: 100%;
  }
/* form */

.form-section {
    clear: both;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-left: 5%;
    line-height: 30px;
    word-spacing: 5px;
}

/*end form*/

 #footer {
     background-color: #28306C;
     color: #F6F8FF;
     margin-top: 10%;
}

/* Slogan Column */
 #contact-column {
     display: flex;
     align-items: center;
}
 #contact-column p {
     font-size: 12px;
     font-weight: 600;
     text-align: center;
}

/* Contact Column */
 #slogan-column {
     text-align: left;
     font-size: 12px;
}

 #slogan-column i {
     color: #ffffff;
     font-size: 24px;
     margin-right: 10px;
}

/* CTA Column */
 #cta-column {
     text-align: center;
     text-transform: uppercase;
     font-weight: 800;
}
 #cta-form {
     display: inline-block;
}
 #cta-column .cta-label {
     margin-top: 1.5rem;
     font-size: 15px;
     letter-spacing: 0.5px;
}
 #cta-input {
     outline: none;
     box-shadow: none;
}
 #cta-input:active,
 #cta-input:focus {
     box-shadow: none;
     outline: none;
     border: 2px solid #4FC9D9;
}
 #cta-column .cta-btn {
     background-color: #4FC9D9;
     border-radius: 0;
     color: #FFF;
     text-transform: uppercase;
     font-weight: 800;
     border: 1px solid #4FC9D9;
     letter-spacing: 1px;
     outline: none;
     margin-top: 10px;
}
 #cta-column .cta-btn:hover,
 .cta-btn:active,
 .cta-btn:focus {
     background-color: #368F9B;
     border: 1px solid #368F9B;
     color: #FFF;
     transition: all 0.20s ease-in-out;
}

/* Social Icons */
 .social-icons {
     margin-top: 1.5rem;
}
 .social-icons li a i {
     border-radius: 50%;
     font-size: 1rem;
     width: 2rem;
     height: 2rem;
     padding-top: 0.5rem;
     text-align: center;
     color:#28306C;
     background-color: #ffffff;
     transition: all 0.20s ease-in-out;
}
 .social-icons li a i:hover {
     background: #3C5830;
     background-color: #368F9B;
}

/* Copyrights */
 .copyrights-paragraph {
     margin-top: 1rem;
     font-size: 20px;
     font-weight: 600;
     text-align: center;
     vertical-align: middle;
}

/*-- Media Queries Mobile (max-width: 600px) --*/

@media only screen and (max-width: 600px) {
   
    #logo {
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
    }
   
    .dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: right;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    }

    .dropdown-item {
        padding-bottom: 2px;
        text-decoration: underline;
        font-size: 14px;
        margin-top: 7px;
    }

    .nav-item {
        font-size: 14px;
        color: #ffffff;
        padding-right: 40px;
    }
    
    .first-dd-item {
        margin-top: 0;
    }
}


}